body {
  display: flex;
  justify-content: center;
  align-items: center; 
}


#grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  border-style: solid;
  border-radius: 10px;
  border-width: medium;
  margin: 15px 0 15px 0;
}

.grid-squares {
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: lightgray;
}

/* .grid {
  display: inline-block;
  /* float: left;
  border: 1px solid gray;
  min-width: 30px;
  min-height: 30px;
} */
